html {
  /*Convert Root EM (rem) from 16p to 10px */
  font-size: 62.5%;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  line-height: 1.42;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Slabo 27px', serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
  margin: 0
}

h1 {
  font-size: 2.4rem;
  color: hsl(230, 50%, 50%);
  margin: 0;
}
h2 {
  font-size: 1.8rem;
  color: hsl(10 , 80%, 50%);
}